.sobre {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 50%;
    margin-top: 1px;
}

.sobre img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 240px;
}

.sobre h2 {
    font-size: 30px;
    margin-left: 180px;
    color: purple;
}

.sobre p {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}